<!-- response counter  -->
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>{{gT("Response overview:")}}</strong>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-4">
                    Current number of responses: 
                </div>
                <div class="col-sm-8">
                    {{responseCount}}
                </div>
            </div>
        </li>
    </ul>
</div>